In [1]:
#1.STRING SLICING
##It means to access the subpart of the string
##Here the spaces in between the characters will also have particular index numbers
##For example
string1 = "My name is Sharon"
string1

'My name is Sharon'

In [2]:
string1[2]

' '

In [3]:
string1[0:5]

'My na'

In [4]:
string1[:7]

'My name'

In [7]:
string1[:-4]

'My name is Sh'

In [9]:
string1[-3:]

'ron'

In [10]:
#2.KEY FEATURES OF LIST
##1. List are ordered collection of items.
##2. It is heterogeneous. This means that it can store any data
##3. Lists are mutable objects
##for example
list = ["sharon" , "aman" , "sofia" , "manisha"]
list

['sharon', 'aman', 'sofia', 'manisha']

In [12]:
list[3]

'manisha'

In [13]:
list[3] = "aditya"

In [14]:
list

['sharon', 'aman', 'sofia', 'aditya']

In [16]:
##4. Slicing of a list
list[0:3]

['sharon', 'aman', 'sofia']

In [18]:
list[:-2]

['sharon', 'aman']

In [19]:
list[-2:]

['sofia', 'aditya']

In [20]:
#3.ACCESSING ELEMENTS IN A LIST
list1 = ["mango", "apple" , "orange" , "banana" , 1 , 2 , 3.5]
list1

['mango', 'apple', 'orange', 'banana', 1, 2, 3.5]

In [21]:
list1[3]

'banana'

In [22]:
list1[4]

1

In [24]:
list1[-3]

1

In [25]:
#MODIFYING A LIST
##Adding a new element at the end
list1

['mango', 'apple', 'orange', 'banana', 1, 2, 3.5]

In [26]:
list1.append("sharon")
list1

['mango', 'apple', 'orange', 'banana', 1, 2, 3.5, 'sharon']

In [47]:
##Adding element at a definite index number
fam = ["sharon" , "sofia" , "aman"]
fam

['sharon', 'sofia', 'aman']

In [48]:
fam.insert(2,"shronit")
fam

['sharon', 'sofia', 'shronit', 'aman']

In [49]:
fam.insert(4,"manisha")
fam

['sharon', 'sofia', 'shronit', 'aman', 'manisha']

In [50]:
#Adding element from another list
stationary= ["pencil" , "pen" , "eraser" , "scale"]
stationary

['pencil', 'pen', 'eraser', 'scale']

In [51]:
essentials = ["bag" , "bottle"]
essentials

['bag', 'bottle']

In [52]:
stationary.extend(essentials)
stationary

['pencil', 'pen', 'eraser', 'scale', 'bag', 'bottle']

In [53]:
#Deleting the last elements
fam = ["sharon" , "sofia" , "aman"]
fam

['sharon', 'sofia', 'aman']

In [55]:
fam.pop()

'aman'

In [56]:
fam

['sharon', 'sofia']

In [57]:
#Removing the element using index numbers
fam = ["sharon" , "sofia" , "aman"]
fam

['sharon', 'sofia', 'aman']

In [58]:
fam.pop(2)

'aman'

In [59]:
fam

['sharon', 'sofia']

In [60]:
#4. TUPLES AND LISTS
##1.Tuples and lists are ordered collection of elements and they both can store heterogenous data. 
##This means they can store any type of data.
##2. Tuples are denoted using simple brackets () whereas lists are denoted using square brackets [].
##3. Tuples are immutable whereas lists are mutable. 
##This means in tuples you cannot modify the data but in lists you can modify and change the elements inside a list
##For example TUPLES
t = ("pencil" , "pen" , "eraser" , "scale")
t

('pencil', 'pen', 'eraser', 'scale')

In [61]:
t[2]

'eraser'

In [62]:
##here the data cannot be modified because tuple does not support item assignmenet as it is a immutable object
t[2] = "bag"
t

TypeError: 'tuple' object does not support item assignment

In [63]:
##For example in LISTS
list = ["sharon" , "aman" , "sofia" , "manisha"]
list

['sharon', 'aman', 'sofia', 'manisha']

In [64]:
list[3]

'manisha'

In [65]:
##here a list can be modified because lists are mutable objects and support item assignment
list[3] = "aditya"
list

['sharon', 'aman', 'sofia', 'aditya']

In [66]:
#5. KEY FEATURES OF SETS
##1. Sets are unordered and unique collection of elements
##2. Since sets are unordered , indexing will not work
##this means that you cannot access the elements using the index numbers.
##3. Unique elements means that it does not allow duplicate elements .
##4. Curly brackets{} are used to denote a set
##For example
##here insipte of repeated elements , it does not allow the duplicate elements after the execution of the code
##this means it is a collection of unique elements
s = {1 , 2, 2 ,3 , 3 , 3 , 3, "sharon" , "sharon" , "aman"}
s

{1, 2, 3, 'aman', 'sharon'}

In [67]:
##here you cannot use the elements using the index numbers beacuse sets are unordered
s[3]

TypeError: 'set' object is not subscriptable

In [68]:
##5. You cannot define set inside a set
##for example
set = {1, 2, 3 ,{4 , 5}}
set

TypeError: unhashable type: 'set'

In [69]:
#6. USE CASES OF TUPLES 
tuple = ("school" , "bus" , "bag" , "bottle" , 1 , 3 , 4.5)
tuple

('school', 'bus', 'bag', 'bottle', 1, 3, 4.5)

In [70]:
tuple[3]

'bottle'

In [72]:
tuple.count("school")

1

In [73]:
tuple.index(1)

4

In [74]:
print(tuple*2)

('school', 'bus', 'bag', 'bottle', 1, 3, 4.5, 'school', 'bus', 'bag', 'bottle', 1, 3, 4.5)

In [75]:
for i in tuple:
    print(i)

school
bus
bag
bottle
1
3
4.5

In [76]:
#USE CASES OF SETS
s = {1 , 2 , 4 , 55,  66 ,"sharon" , "aman" , "orange"}
s

{1, 2, 4, 55, 66, 'aman', 'orange', 'sharon'}

In [78]:
s.update("pencil")
s

{1, 2, 4, 55, 66, 'aman', 'c', 'e', 'i', 'l', 'n', 'orange', 'p', 'sharon'}

In [79]:
#when adding a string , if you don't want the caharcteres toappear individually then write the string like this
s.update(["pencil"])
s

{1,
 2,
 4,
 55,
 66,
 'aman',
 'c',
 'e',
 'i',
 'l',
 'n',
 'orange',
 'p',
 'pencil',
 'sharon'}

In [80]:
#when you want to delete the set
s.clear()
s

set()

In [81]:
del s

In [82]:
s

NameError: name 's' is not defined

In [85]:
#set operation
##1. UNION
##here the elements of both the sets are combined together
s1 = {"pencil" ,"pen" ,"eraser" , "scale"}
s2 = {"bag" , "scale" ,"bottle"}
s1|s2

{'bag', 'bottle', 'eraser', 'pen', 'pencil', 'scale'}

In [86]:
##2. INTERSECTION
##here only the common elementt between the sets is given
s1&s2

{'scale'}

In [87]:
##3. DIFFERENCE
##here only the elements of the 1st set are given , even the commom elements are excluded
s1-s2

{'eraser', 'pen', 'pencil'}

In [88]:
##4.SYMMETRIC DIFFERENCE
##here the uncommon elements from both the sets are given
s1^s2

{'bag', 'bottle', 'eraser', 'pen', 'pencil'}

In [89]:
#7. ADDING ITEMS IN A DICTIONARY
d = {"name":"sharon" , "age":21 , "phone":45678 , "course":"data analytics"}
d

{'name': 'sharon', 'age': 21, 'phone': 45678, 'course': 'data analytics'}

In [91]:
d["address"] = "jhansi"
d

{'name': 'sharon',
 'age': 21,
 'phone': 45678,
 'course': 'data analytics',
 'addres': 'jhansi',
 'address': 'jhansi'}

In [92]:
d["class"] = 8
d

{'name': 'sharon',
 'age': 21,
 'phone': 45678,
 'course': 'data analytics',
 'addres': 'jhansi',
 'address': 'jhansi',
 'class': 8}

In [93]:
#MODIFYING ELEMENTS IN A DICTIONARY
d = {"name":"sharon" , "age":21 , "phone":45678 , "course":"data analytics"}
d

{'name': 'sharon', 'age': 21, 'phone': 45678, 'course': 'data analytics'}

In [94]:
d["name"] = "aman"
d

{'name': 'aman', 'age': 21, 'phone': 45678, 'course': 'data analytics'}

In [96]:
d["age"] = 22
d

{'name': 'aman', 'age': 22, 'phone': 45678, 'course': 'data analytics'}

In [97]:
#DELETING A KEY VALUE PAIR
d = {"name":"sharon" , "age":21 , "phone":45678 , "course":"data analytics"}
d

{'name': 'sharon', 'age': 21, 'phone': 45678, 'course': 'data analytics'}

In [98]:
del d["course"]
d

{'name': 'sharon', 'age': 21, 'phone': 45678}

In [99]:
#CLEARING THE WHOLE DICTIONARY
d.clear()
d

{}

In [101]:
#DELETING THE WHOLE DICTINARY
del d
d

NameError: name 'd' is not defined

In [102]:
#8. DICTIONARY KEYS BEING IMMUTABLE
##the keys are immutable . it means they cannot be changed
##since integers , float values, boolean value, tuple are immutabel , they can be used as a key
##on the other hand special characters like'#' , '@' cannot be used as a key
##you cannot use list a set as a key inside a dictionary beacuse they are mutable objects
##for example
dict = {1:"hello"}
dict

{1: 'hello'}

In [103]:
dict1 = {True:"honesty"}
dict1

{True: 'honesty'}

In [104]:
dict2 = {(1,2,3):"aman"}
dict2

{(1, 2, 3): 'aman'}

In [105]:
dict3 = {#:"abc"}
dict3

SyntaxError: incomplete input (4225497827.py, line 2)

In [106]:
dict4 = {[1,2,3]:'abc}
dict4

SyntaxError: unterminated string literal (detected at line 1) (347954543.py, line 1)